<% if !weather_prediction[0].nil? then %>
    <% if weather_prediction[0].day == 0 then %>
        <table class="table wp-table centerTable container weather-widget weather-widget-<%= weather_prediction[0].day %>"  style= "margin: 0px auto; display: table;">
    <% else %>
        <table class="table wp-table centerTable container weather-widget weather-widget-<%= weather_prediction[0].day %>"  style= "margin: 0px auto; display: none;">
    <% end %>
    <tr>
        <td><strong>Hodina</strong></td>
        <td><strong>Teplota</strong></td>
        <td><strong>Rýchlosť vetra</strong></td>
        <% if weather_prediction[0].page_name != "Počasie.sk" %>
            <td><strong>Atmosférický tlak</strong></td>
        <% end %>
        <% if weather_prediction[0].page_name != "Svieti.com" %>
            <td><strong>Vlhkosť</strong></td>
        <% end %>
        <td><strong>Počasie</strong></td>
    </tr>

    <% weather_prediction.each do |weat| %>
    <tr>
        <td class="col-md-2"><%= weat.hour %>:00</td>
        <td class="col-md-2"><%= weat.temperature %> °C</td>
        <td class="col-md-2"><%= weat.wind_speed %> km/h</td>
        <% if weather_prediction[0].page_name != "Počasie.sk" %>
            <td class="col-md-2"><%= weat.pressure %> hPa</td>
        <% end %>
        <% if weather_prediction[0].page_name != "Svieti.com" %>
            <td class="col-md-2"><%= weat.humidity %> %</td>
        <% end %>
        <td class="col-md-4"><%= weat.description %></td>
    </tr>
    <% end %>
</table>
<%end%>