<% if !accurancy.nil? %>
    <% if accurancy.day == 0 then %>
        <div class = "weather-widget weather-widget-<%= accurancy.day %>" style= "display: block;" >
    <% else %>
        <div class = "weather-widget weather-widget-<%= accurancy.day %>" style= "display: none;">
    <% end %>
        <p>Pre dané mesto bola vybraná najpresnejšia predpoveď zo stránky:
            <%= link_to accurancy.page_name, accurancy.address  %> </p>
        <p> Presnosť pre jednotlivé parametre: </p>
        <ul>
            <li>Teplota vzduchu: <b><%= accurancy.temperature_a %> %</b></li>
            <li>Rýchlosť vetra: <b><%= accurancy.wind_speed_a %> %</b></li>
            <% if [1,4,7].include? accurancy.city_id %>
            <li>Vlhkosť vzduchu: <b><%= accurancy.humidity_a %> %</b></li>
            <% end %>
            <% if accurancy.page_name != "Počasie.sk" %>
                <li>Atmosférický tlak: <b><%= accurancy.pressure_a %> %</b></li>
            <% end %>
        </ul>
    </div>
<% else %>
    <div class = "Accurancy-none" style= "display: block;" >
        <p>Pre dané mesto bola vybraná najpresnejšia predpoveď zo stránky:<b> ? </b></p>
        <p> Presnosť pre jednotlivé parametre: </p>
        <ul>
            <li>Teplota vzduchu: <b>? %</b></li>
            <li>Rýchlosť vetra: <b>? %</b></li>
            <li>Vlhkosť vzduchu: <b>? %</b></li>
            <li>Atmosférický tlak: <b>? %</b></li>
        </ul>
    </div>
<% end %>