<% provide(:title, "Počasie") %>
<h1>Vitajte na stránke pre porovnanie predpovedí počasia</h1>
<h2> Vyberte si svoje mesto: </h2>

<div class="container">
  <% @weather.each_with_index  do |weather,i| %>
      <% if i % 2 == 0 %>
          <div class="row row-eq-height">
      <% end %>
      <% w = Array.new %>
      <% w.push(weather) %>
      <%= render partial: "weathers/weather_country", collection: w %>
      <% if i % 2 == 1%>
          </div>
      <% end %>
  <% end %>
</div>