<script>
  ga('send', 'event', 'Stats', 'Show');
</script>
<% provide(:title, "Všeobecné štatistiky") %>
<%  @city_hash = {"Bratislava" => 'Bratislava', "Trnava" => 'Trnava', "Nitra" => 'Nitra', "Žilina" => 'Zilina',
                  "Banská Bystrica" => 'banska-bystrica', "Prešov" => 'Presov', "Košice" => 'Kosice', "Detva" => 'detva',
                  "Gelnica" => 'gelnica', "Humenné" => 'humenne', "Kamenica nad Cirochou" => 'kamenica-nad-cirochou',
                  "Kežmarok" => 'kezmarok', "Lučenec" => 'lucenec', "Malacky" => 'malacky', "Martin" => 'martin', "Michalovce" => 'michalovce',
                  "Partizánske" => 'partizanske', "Piešťany" => 'piestany', "Poltár" => 'poltar', "Poprad" => 'poprad', "Prievidza" => 'prievidza',
                  "Revúca" => 'revuca', "Sliač" => 'sliac', "Stropkov" => 'stropkov', "Trebišov" => 'trebisov', "Vranov nad Topľou" => 'vranov-nad-toplou',
                  "Žarnovica" => 'zarnovica'} %>

<div class="container-fluid">
  <h2> Vyberte si stránku a mesto pre zobrazenie presnosti </h2>
  <div class="btn-group container-fluid"  role="group" aria-label="...">
    <div class="btn-group">
      <button type="button" class="btn btn-grey dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong><%= @page_hash.key(@page) %></strong>
        <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" id="pages">
        <li class="dropdown-header">Stránky</li>
        <% @pages.each_with_index  do |pag,i| %>
            <% page = @page_hash["#{pag.page_name}"] %>
            <% if @page.nil? then @page= :sme end %>
            <% if @city.nil? then @city = :Bratislava end %>
            <% name_path = @city %>
            <li ><%= link_to pag.page_name, "/stats/#{page}/#{name_path}" %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn btn-grey dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong><%= @city_hash.key(@city) %></strong>
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" id="cities">
      <li class="dropdown-header">Mestá</li>
    <% City.all.each_with_index do |city,i| %>
        <% if @page.nil? then @page= :sme end %>
          <% if @city.nil? then @city = :Bratislava end %>
          <li><%= link_to @acc_town[i]['city_name'], "/stats/#{@page}/#{@city_hash[@acc_town[i]['city_name']]}" %></li>
    <% end %>
      </ul>
  </div>
  <div class=" col-md-12 container" >
    <div class="panel-heading container-fluid"><h3><strong> Štatistiky stránok: <%= @acc[0].city_name %></strong> </h3></div>
    <table class="table wp-table table-condensed">
      <tr>
        <td>Predpoveď na deň</td>
        <td>Presnosť teploty</td>
        <td>Presnosť rýchlosti vetra</td>
        <% if [1,4,7].include? @acc[0].id %>
          <td>Presnosť vlhkosti vzduchu</td>
        <% end %>
        <% if @acc[0].page_name != "Počasie.sk" %>
            <td>Presnosť tlaku atmosféry</td>
        <% end %>
      </tr>

      <% (0..5).each do |i| %>
          <tr>
            <% next if (@acc[i]['temperature_a'] == 0) && (@acc[i]['wind_speed_a'] == 0) && (@acc[i]['humidity_a'] == 0) %>
                 <% if @acc[i]['day'] == 0 %>
                <td><%= link_to "Aktuálny deň" ,  "/stats/#{@page}/#{@city}?day=#{i}" %></td>
            <% else %>
                <td><%= link_to "#{i}. nasledujúci deň" , "/stats/#{@page}/#{@city}?day=#{i}" %></td>
            <% end %>
            <td><%= @acc[i]['temperature_a'] %> %</td>
            <td><%= @acc[i]['wind_speed_a'] %> %</td>
            <% if [1,4,7].include? @acc[i].id %>
                <td><%= @acc[i]['humidity_a'] %> % </td>
            <% end %>

            <% if @acc[0].page_name != "Počasie.sk" %>
                <td><%= @acc[i]['pressure_a'] %> %</td>
            <% end %>
          </tr>

      <% end %>
    </table>
  </div>
</div>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("Graph_temperature", @chart_temp) %>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("Graph_wind_speed", @chart_wind) %>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("Graph_pressure", @chart_pres) %>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("Graph_humidity", @chart_hum) %>

<div style="color: #fff"><small>Zobrazované údaje v grafoch sú z obdobia od <%= (DateTime.now.utc-5.days).strftime("%-d.%_m %Y") %> do <%= (DateTime.now.utc-2.days).strftime("%-d.%_m %Y") %>.</small></div>