<% provide(:title, "Počasie") %>
<% if !@actual_weather.nil? %>
  <h1> <%= @actual_weather.first.name %></h1>
<% end %>
<h2> Vyberte si mesto: </h2>

<div class="container">
<% @actual_weather.each_with_index  do |weather,i| %>
     <% if i % 2 == 0 %>
          <div class="row row-eq-height">
      <% end %>
      <% w = Array.new %>
      <% w.push(weather) %>
      <%= render partial: "weathers/weather", collection: w %>
      <% if i % 2 == 1%>
          </div>
      <% end %>
<% end %>
  </div>