<script>ga('send', 'event', 'About', 'Show');</script>

<% provide(:title, "O Projekte") %>

<h1>O projekte</h1>

<div>
  <p style="text-align: center;"> Táto stránka slúži za účelom vyhodnotenia presností predpovedí počasia pre mestá na základe aktuálneho počasia. </p>
  <p>  Stránka poskytne najpresnejšiu predpoveď daného mesta, ktorá vychádza zo spracovaných údajov vo forme štatistík.
    Jednotlivé parametre počasia majú svoje váhy, kde teplota vzduchu najviac rozhoduje o celkovej úspešnosti predpovede pre zvolené mesto.</p>
  <p>  Stránka bola vytvorená ako školský projekt.
  </p>
</div>

<div class="panel panel-default transbox">
  <div class="panel-heading transbox_info">
    <h3 class="panel-title"><strong>Odchýlky pri teplotách</strong></h3>
  </div>
  <div class="panel-body">
    <p>Koeficient tepla: 10</p>
    <p>To znamená, že teplotná odchýlka 1°C predstavuje zníženie úspešnosti o 10%.</p>
    <p>Príklad pre vysvetlenie: Reálna teplota: 14 °C, predpovedaná teplota: 13°C (rozdiel teplôt je 1°C), to znamená, že úspešnosť predpovede je 90%. </p>
  </div>
</div>

<div class="panel panel-default transbox">
  <div class="panel-heading transbox_info">
    <h3 class="panel-title"><strong>Odchýlky pri rýchlosti vetra</strong></h3>
  </div>
  <div class="panel-body">
    <p>Koeficient rýchlosti vetra: 3</p>
    <p>To znamená, že odchýlka rýchlosti vetra 1 km/h predstavuje zníženie úspešnosti o 3%.</p>
    <p>Príklad pre vysvetlenie: Reálna rýchlosť vetra: 24 km/h, predpovedaná rýchlosť vetra: 21 km/h (rozdiel rýchlosti vetra je 3 km/h), to znamená, že úspešnosť predpovede je 91%. </p>
  </div>
</div>

<div class="panel panel-default transbox">
  <div class="panel-heading transbox_info">
    <h3 class="panel-title"><strong>Odchýlky pri atmosférickom tlaku</strong></h3>
  </div>
  <div class="panel-body">
    <p>Koeficient tlaku: 5</p>
    <p>To znamená, že odchýlka tlaku 1 hPa predstavuje zníženie úspešnosti o 5%.</p>
    <p>Príklad pre vysvetlenie: Reálny tlak: 1001 hPa, predpovedaný tlak: 1005 hPa (rozdiel tlaku sú 4 hPa), to znamená, že úspešnosť predpovede je 80%. </p>
  </div>
</div>

<div class="panel panel-default transbox">
  <div class="panel-heading transbox_info">
    <h3 class="panel-title"><strong>Odchýlky pri vlhkosti</strong></h3>
  </div>
  <div class="panel-body">
    <p>Koeficient vlhkosti: 1</p>
    <p>To znamená, že odchýlka vlhkosti 1% predstavuje zníženie úspešnosti o 1%.</p>
    <p>Príklad pre vysvetlenie: Reálna vlhkosť: 89 %, predpovedaná vlhkosť: 92% (rozdiel vlhkosti je 3%), to znamená, že úspešnosť predpovede je 97%. </p>
  </div>
</div>
