<script>
  $(document).on('turbolinks:load page:load ready', function() {
    for (var i = 0; i < 6; ++i) {
      (function() {
        var j = i;
        $(".weather-link-" + j).click(function(e) {
          e.preventDefault();

          $(".weather-link").removeClass("active");
          $(this).addClass("active");

          $(".weather-widget").hide();
          $(".weather-widget-" + j).show();
        });
      })();
    }

  });

  ga('send', 'event', 'Weather', 'Show');
  ga('set', 'contentGroup1', 'Weather_prediciton_show');
</script>
<%= stylesheet_link_tag "custom" %>

<% days_name=['Nedeľa', 'Pondelok', 'Utorok', 'Streda' , 'Štrvtok', 'Piatok', 'Sobota'] %>
<%  @city_hash = {"Bratislava" => 'Bratislava', "Trnava" => 'Trnava', "Nitra" => 'Nitra', "Žilina" => 'Zilina',
                  "Banská Bystrica" => 'banska-bystrica', "Prešov" => 'Presov', "Košice" => 'Kosice', "Detva" => 'detva',
                  "Gelnica" => 'gelnica', "Humenné" => 'humenne', "Kamenica nad Cirochou" => 'kamenica-nad-cirochou',
                  "Kežmarok" => 'kezmarok', "Lučenec" => 'lucenec', "Malacky" => 'malacky', "Martin" => 'martin', "Michalovce" => 'michalovce',
                  "Partizánske" => 'partizanske', "Piešťany" => 'piestany', "Poltár" => 'poltar', "Poprad" => 'poprad', "Prievidza" => 'prievidza',
                  "Revúca" => 'revuca', "Sliač" => 'sliac', "Stropkov" => 'stropkov', "Trebišov" => 'trebisov', "Vranov nad Topľou" => 'vranov-nad-toplou',
                  "Žarnovica" => 'zarnovica'} %>
<% provide(:title, "Počasie pre mesto #{@city_hash.key(params[:name])}") %>

<h1> <strong> <%= @city_hash.key(params[:name]) %> </strong> </h1>

<div class="Body-up-info">
  <div class="col-md-6 col-sm-12 	col-xs-12 col">
    <div class="transbox_actual cities_page_header col">
      <div class=" col-md-8" style="display:table-cell; vertical-align:middle; text-align:center"><h3> Aktuálne počasie: </h3> </div>
      <div class=" col-md-6 col-sm-12 	col-xs-12 actual_weather_image" style="display:table-cell; vertical-align:middle; text-align:center">
        <% if Time.now.hour > 18 || Time.now.hour < 6 then time = 0 else time = 1 end %>
        <% if !@actual_weather.first.nil? %>
          <%= image_tag("#{@actual_weather.first.description}-#{time}.png", :alt => "#{@actual_weather.first.description}-#{time}") %>
        <% else %>
          <%= image_tag("N.A.png", :alt => "N.A") %>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-12 	col-xs-12 col">
        <% if !@actual_weather.first.nil? %>
          <h1><%= @actual_weather.first.description.capitalize %></h1>
          <p><b>Teplota: </b><%= @actual_weather.first.temperature %> °C</p>
          <p><b>Rýchlosť vetra: </b><%= @actual_weather.first.wind_speed %> km/h</p>
          <% if @actual_weather[0].humidity != -1%>
              <p><b>Vlhkosť: </b><%= @actual_weather.first.humidity %> %</p>
          <% end %>
            <p><b>Atmosférický tlak: </b><%= @actual_weather.first.pressure %> hPa</p>
        <% else %>
            <h1> N.A </h1>
            <p><b>Teplota: </b>? °C</p>
            <p><b>Rýchlosť vetra: </b>? km/h</p>
            <p><b>Vlhkosť: </b>? %</p>
            <p><b>Atmosférický tlak: </b>? hPa</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 	col-xs-12 col">
    <div class="transbox_actual cities_page_header col">
      <h1>Presnosť predpovede</h1>
      <% @weather.each_with_index do |acc,i| %>
          <% next if i > 0 && acc.first.nil? %>
          <% pom = Array.new %>
          <% pom.push(acc[0]) %>
          <%= render partial: "accurancies/accurancy", collection: pom %>
      <% end %>
      <p>Viac o hodnotení nájdete <%= link_to 'tu', about_path  %>.</p>
    </div>
  </div>

</div>

<div class = "col-md-12">
  <h3><span class="label label-default">Predpoveď počasia</span></h3>
</div>
<div class="Body-weather_prediction container">
  <ul class="nav nav-tabs  nav-justified">
    <% (0..5).each do |i| %>
        <% if i == 0 %>
          <% if !@weather[0].nil? && !@weather[0][0].nil? %>
            <li class="weather-link weather-link-<%=i%> active" data-toggle="date"> <%= link_to "#{@weather[0][0].date.to_date.strftime("%-d.%_m.")} #{days_name[@weather[i][0].date.to_date.wday]}", "#{params[:name]}" %></li>
          <% else %>
            <li class="weather-link weather-link-<%=i%> active" data-toggle="date"> <%= link_to "#{(DateTime.now.to_date+i).strftime("%-d.%_m.")} #{days_name[(DateTime.now.to_date+i).wday]}", "#{params[:name]}" %></li>
          <% end %>
        <% else %>
          <% if !@weather[i].nil? && !@weather[i][0].nil? %>
            <li class="weather-link weather-link-<%=i%>" data-toggle="date"> <%= link_to "#{@weather[i][0].date.to_date.strftime("%-d.%_m.")} #{days_name[@weather[i][0].date.to_date.wday]}", "#{params[:name]}" %></li>
          <% else %>
            <li class="weather-link weather-link-<%=i%>" data-toggle="date"> <%= link_to "#{(DateTime.now.to_date+i).strftime("%-d.%_m.")} #{days_name[(DateTime.now.to_date+i).wday]}", "#{params[:name]}"%></li>
          <% end %>
        <% end %>
    <% end %>
  </ul>

  <%= render partial: "weather_predictions/weather_prediction", collection: @weather %>

</div>