@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

body {
  background-image: image-url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: $gray-light;
  //text-transform: uppercase;
  //letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  padding-bottom: 20px;
  color: $gray-light;
  a {
    color: rgb(100, 120, 230);
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    color: rgb(230, 230, 230);
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

div.actual_weather_image {
  padding-top: 20px;
}

img.actual_weather_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.transbox {
  margin: 15px;
  padding-bottom: 30px;
  border-radius: 30px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(255, 255, 255, .5);
  a{
    color: #000;
  }
}
.actual_weather {
  h3 {
    display: table-cell;
    width: 10%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

}

.description {
  h3 {
    text-align: left;
  }
}

.actual_weather {
  h3 {
    display: table-cell;
    width: 10%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

}

.description {
  h3 {
    text-align: left;
  }
}
div.transbox p {

}

div.cities_page_header{
  padding-left: 20px;
  padding-right: 20px;
  horiz-align: center;
  overflow:auto;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  .col {
    flex: 1;
  }
}

li.weather-link {
  background: rgba(255, 255, 255, .6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
li.active {

}


table.wp-table {
  background: rgba(255, 255, 255, .6);
}

div.Body-weather_prediction{
  padding: 0;
  padding-right: 30px;
  margin: 0;
}

div.transbox_actual {
  margin: 0px;
  border-radius: 30px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(255, 255, 255, .5);
  a{
    text-decoration: underline;
  }
}

@media (max-width: 991px) {
  .row-eq-height {
    display: block;
  }

  div.cities_page_header {
    margin-top: 10px;
    a.weather-widget {
      text-decoration: underline;
    }
  }
}

@media (max-width: 767px) {
  .row-eq-height {
    display: block;
  }

  div.cities_page_header {
    margin-top: 10px;
    a.weather-widget {
      text-decoration: underline;
    }
  }
  div.Body-weather_prediction{
    padding: 0;
    margin: 0;
  }
}

div.transbox_info {
  margin: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(255, 255, 255, .5);
  a{
    color: #000;
    text-decoration: underline;
  }
}

h4.country {
  padding: 5px;
  text-decoration: underline;
}

.btn-grey {
  color : #8c8c8c;
}