<% @city_hash = {"Bratislava" => 'Bratislava', "Trnava" => 'Trnava', "Nitra" => 'Nitra', "Žilina" => 'Zilina',
                 "Banská Bystrica" => 'banska-bystrica', "Prešov" => 'Presov', "Košice" => 'Kosice', "Detva" => 'detva',
                 "Gelnica" => 'gelnica', "Humenné" => 'humenne', "Kamenica nad Cirochou" => 'kamenica-nad-cirochou',
                 "Kežmarok" => 'kezmarok', "Lučenec" => 'lucenec', "Malacky" => 'malacky', "Martin" => 'martin', "Michalovce" => 'michalovce',
                 "Partizánske" => 'partizanske', "Piešťany" => 'piestany', "Poltár" => 'poltar', "Poprad" => 'poprad', "Prievidza" => 'prievidza',
                 "Revúca" => 'revuca', "Sliač" => 'sliac', "Stropkov" => 'stropkov', "Trebišov" => 'trebisov', "Vranov nad Topľou" => 'vranov-nad-toplou',
                 "Žarnovica" => 'zarnovica'}
   @country_hash = { "Bratislavský kraj" => 'bratislavsky-kraj', "Trnavský kraj" => 'trnavsky-kraj', "Nitriansky kraj" => 'nitriansky-kraj',
                     "Trenčiansky kraj" => 'trenciansky-kraj', "Žilinský kraj" => 'zilinsky-kraj',
                     "Banskobystrický kraj" => 'banskobystricky-kraj', "Prešovský kraj" => 'presovsky-kraj', "Košický kraj" => 'kosicky-kraj' }
%>

<div class="Body-up-info panel-default row-eq-height background container-fluid weather col-md-6 col-sm-12 	col-xs-12">
  <div class=" col-md-12 panel-body transbox">
    <h3 class="panel-title"><strong><%= weather_country.name %></strong></h3>
    <%= link_to "/pocasie/"+@city_hash[weather_country.city_name], class: "actual_weather" do %>
        <h1><strong><%= weather_country.city_name %></strong></h1>
        <div class=" col-md-4 col-sm-4 col-xs-4 actual_weather_image "  style="display:table-cell; vertical-align:middle; text-align:center">
          <% if Time.now.hour > 18 || Time.now.hour < 6 then time = 0 else time = 1 end %>
          <%= image_tag("#{weather_country.description}-#{time}.png", :alt => "#{weather_country.description}-#{time}", :size => "120x110") %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 description">
          <h3><%= weather_country.description.capitalize %></h3>
          <p><b>Teplota: </b><%= weather_country.temperature %> °C</p>
          <p><b>Rýchlosť vetra: </b><%= weather_country.wind_speed %> km/h</p>
          <p><b>Atmosférický tlak: </b><%= weather_country.pressure %> hPa</p>
          <% if weather_country.humidity != -1%>
              <p><b>Vlhkosť: </b><%= weather_country.humidity %> %</p>
          <% end %>
        </div>
    <% end %>
    <%= link_to @country_hash[weather_country.name] do %>
        <div>
          <h4 class ="country" style="position: absolute; bottom: 0%; right: 5%; color: rgb(0,0,0)">Ďalšie mestá v kraji</h4>
        </div>
    <% end %>
  </div>
</div>