<% @city_hash = {"Bratislava" => 'Bratislava', "Trnava" => 'Trnava', "Nitra" => 'Nitra', "Žilina" => 'Zilina',
                 "Banská Bystrica" => 'banska-bystrica', "Prešov" => 'Presov', "Košice" => 'Kosice', "Detva" => 'detva',
                 "Gelnica" => 'gelnica', "Humenné" => 'humenne', "Kamenica nad Cirochou" => 'kamenica-nad-cirochou',
                 "Kežmarok" => 'kezmarok', "Lučenec" => 'lucenec', "Malacky" => 'malacky', "Martin" => 'martin', "Michalovce" => 'michalovce',
                 "Partizánske" => 'partizanske', "Piešťany" => 'piestany', "Poltár" => 'poltar', "Poprad" => 'poprad', "Prievidza" => 'prievidza',
                 "Revúca" => 'revuca', "Sliač" => 'sliac', "Stropkov" => 'stropkov', "Trebišov" => 'trebisov', "Vranov nad Topľou" => 'vranov-nad-toplou',
                 "Žarnovica" => 'zarnovica'}
  @country_hash = { "Bratislavský kraj" => 'bratislavsky-kraj', "Trnavský kraj" => 'trnavsky-kraj', "Nitriansky kraj" => 'nitriansky-kraj',
                    "Trenčiansky kraj" => 'trenciansky-kraj', "Žilinský kraj" => 'zilinsky-kraj',
                    "Banskobystrický kraj" => 'banskobystricky-kraj', "Prešovský kraj" => 'presovsky-kraj', "Košický kraj" => 'kosicky-kraj' }
%>

<div class="Body-up-info panel-default row-eq-height background container-fluid weather col-md-6 col-sm-12 	col-xs-12">
  <div class=" col-md-12 panel-body transbox">
    <%= link_to "/pocasie/"+@city_hash[weather.city_name], class: "actual_weather" do %>
      <h1><strong><%= weather.city_name %></strong></h1>
      <div class=" col-md-4 col-sm-4 col-xs-4 actual_weather_image "  style="display:table-cell; vertical-align:middle; text-align:center">
        <% if Time.now.hour > 18 || Time.now.hour < 6 then time = 0 else time = 1 end %>
        <%= image_tag("#{weather.description}-#{time}.png", :alt => "#{weather.description}-#{time}", :size => "120x110") %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8 description">
        <h3><%= weather.description.capitalize %></h3>
        <p><b>Teplota: </b><%= weather.temperature %> °C</p>
        <p><b>Rýchlosť vetra: </b><%= weather.wind_speed %> km/h</p>
        <p><b>Atmosférický tlak: </b><%= weather.pressure %> hPa</p>
        <% if weather.humidity != -1%>
            <p><b>Vlhkosť: </b><%= weather.humidity %> %</p>
        <% end %>
    </div>
        <% end %>
  </div>
</div>