<footer class="footer">
  <nav>
    <small>
      Aktuálne počasie je prevzaté z internetovej stránky <a href="http://www.meteo.sk/aktualne-pocasie/europa/slovenska-republika">Meteo.sk</a>
    </small>
    <ul>
      <small>
      <li>The Weather Prediction Comparator by Jakub Kazimír &copy </li>
      </small>
    </ul>
  </nav>
</footer>