
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> <%= link_to image_tag("logo-wpc.png", width:60, height: 35, border: 0)+"  Weather Prediction Comparator", root_path, id: "logo" %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Predpoveď", root_path %></li>
        <li><%= link_to "Štatistiky", stats_path %></li>
        <li><%= link_to "O projekte",   about_path %></li>
        <!--<li><%= link_to "Kontakt", contact_path %></li>-->
      </ul>
      </div>
    </div>
  </div>
</nav>
